numpy==1.24.4
streamlit==1.22.0
streamlit_chat==0.4.1
langchain==0.0.302
langchain-google-genai==0.0.1
langchain-community==0.0.1
qdrant-client==1.1.1
qdrant==1.5.0
huggingface-hub==0.14.1
PyMuPDF==1.22.10
docxtract==2.10.2
dotenv==0.21.1
